        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="bg-image">
            <img src="images/bg-pic.jpg" alt="">
        </div>

        <div id="bg-container">

            <div class="header-container">
                <div id="heading" class="wrapper clearfix">
                    <nav id="nav">
                    <ul>
                      <li><a href="#savethedate">SAVE THE DATE</a></li>
                      <!-- <li><a href="#provide_info">YOUR INFO</a></li> -->
                      <li><a href="#schedule">SCHEDULE</a></li>
                      <li><a href="#accommodations">ACCOMMODATIONS</a></li>
                      <li><a href="#directions">DIRECTIONS</a></li>
                      <li><a href="#registry">REGISTRY</a></li>
                    </ul>

                    </nav>
                </div>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix">

                    <header>
                        <div id="introtext">
                            <span class="head-sarah">Sarah</span>
                            <span class="head-brad">&nbsp;
                                <span class="amp">&amp;</span> 
                                ERIC
                            </span>
                            <div class="date">AUGUST 31<sup>st</sup>, 2014</div>

                        </div>
                    </header>

                    <div class="clearfix"></div>

                    <section id="savethedate" class="clearfix">
                      <h1>Save the Weekend</h1>
                      <div class="column_full">
                        <% if @person.persisted? %>
                          Thanks for giving us your information!
                        <% else %>
                          Welcome to our website!
                          Please <a href="#provide_info">Give us your Information</a>
                        <% end %>
                      </div>
                    </section>

                    <div class="clearfix"></div>
                      <section id="schedule" class="clearfix">
                      <div class="column left">
                        <h2>Welcome BBQ</h2>
                        <p>Afternoon, Saturday, August 30, 2014</p>
                        <h2>Bonfire</h2>
                        <p>Dusk, Saturday, August 30, 2014</p>
                      </div>
                      <div class="column right">
                        <h2>Ceremony & Reception</h2>
                        <p>
                          West Branch Resort
                          <br>
                          Hancock, NY
                        </p>
                        
                        <p>
                          Four o'clock in the afternoon
                          <br>
                          Sunday, August 31, 2014
                        </p>

                        <p>Reception to follow</p>
                        <h2>Send-off Brunch</h2>
                        <p>
                          West Branch Resort
                          <br>
                          Monday, September 1, 2014
                        </p>

                      </div>

                      </section>

                      <div class="clearfix"></div>
                      
                      <section id="accommodations" class="clearfix">
                      <div class="column left">
                        <h2>Onsite (Preferred)</h2>
                        The West Branch Resort
                        <br>
                        150 Faulkener Rd
                        <br>
                        Hancock, NY 13783
                        <br>
                        latitude: 42.004118, longitude: -75.371876
                        <br>
                        Phone: (800) 201-2557
                        <br>
                        website: <a href="http://www.westbranchresort.com">westbranchresort.com</a>
                      </div>
                      <div class="column right">
                        Accommodation Details: There are 1-bedroom and 2-bedroom cabins at the resort, where we hope all our guests will join us for a weekend of celebration. They combine modern amenities like A/C, Wi-Fi, and a full kitchen with old-fashioned porches and fire pits. Many of the cabins overlook a (cold) river for fishing, and there is skeet shooting on site for those who want to try their aim. Sunbathers can cool off in the pool. Breakfast is included and served every morning at the resort’s restaurant, which will also be open for other meals. 
                        Ask the resort about the special rates and offers we have in place for our guests, and they or the website should be able to answer additional questions.
                      </div>
                      </section>

                      <div class="clearfix"></div>
                      
                      <section id="directions" class="clearfix">
                      <div class="column full">
                        <div>
                            <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zhS14oP2VGBM.k89in5wSWnfY" width="640" height="480"></iframe>
                          </div>
                          <h3>From New York City</h3>
                          <p>Take the Major Degan North to the New York Throughway (I-87). Take I-87 north to Exit 16 (Harriman Exit). Pay toll and travel west on Route 17. Approximately 5 miles past Exit 87 (Hancock Exit) watch for turn off for Hale Eddy. Go into left turn lane, and turn left off Route 17 and proceed across the Hale Eddy Bridge. Turn left just as you come off the bridge onto the dirt road (Faulkener Road). Take Faulkner Road 3/4 of a mile to West Branch Angler Resort.</p>
                          <p>
                            For a full list of directions, <a href="http://www.westbranchresort.com/directions.html">westbranchresort.com/directions.html</a>
                          </p>
                        </div>
                      </section>

                      <section id="registry" class="clearfix">
                        <div class="column full">
                          <h1>Registry</h1>
                          <p>Due to the nature of city life (not a great deal of storage space), we have decided to embrace the idea of a <a href="http://www.myregistry.com/wedding-registry/Sarah-Sluis-Eric-Gross-New-York-NY/551663">honeymoon registry</a>.  However, if you prefer the traditional route, you will also find items we're excited to make room for at <a href="http://www.myregistry.com/wedding-registry/Sarah-Sluis-Eric-Gross-New-York-NY/551663">MyRegistry.com</a>.</p>
                        </div>
                      </section>
 
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div> <!-- #bg-container -->
      </body>
</html>
