        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="bg-image">
            <img src="images/bg-pic.jpg" alt="">
        </div>

        <div id="bg-container">

            <div class="header-container">
                <div id="heading" class="wrapper clearfix">
                    <nav id="nav">
                    <ul>
                      <li><a href="#savethedate">SAVE THE WEEKEND</a></li>
                    </ul>

                    </nav>
                </div>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix">

                    <header>
                        <div id="introtext">
                            <span class="head-sarah">Sarah</span>
                            <span class="head-brad">&nbsp;
                                <span class="amp">&amp;</span> 
                                ERIC
                            </span>
                            <div class="date">AUGUST 31<sup>st</sup>, 2014</div>

                        </div>
                    </header>

                    <div class="clearfix"></div>

                    <section id="savethedate" class="clearfix">
                    <h1>Save the Weekend</h1>
                    <div class="column_full">
                      blah blah
                    </div>
                
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div> <!-- #bg-container -->
    </body>
</html>
